.image_container {
	position:relative;
	float:left;
}
.image_container img {
	z-index:0;
}
.image_mask {
	background: #999;
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right:0;
	z-index: 1;
	opacity:0.5;
}
#cropper {
  position: absolute;
  top: 0px;
  left: 0px;		/* TODO: starting points shoulod be calculated
  					programatically? */
  width:350px;
  height:200px;		/* TODO: width/height will be different for each crop */

  border: 1px solid rgb(204, 204, 204);
  z-index: 2;
  background-position: 0 0;
}
