{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if asset %}
    <div class="cropper-controls submit-row">
        <form action="" method="post" class="crop-cropper">
            <label for="zoom">Zoom</label>
            <input name="zoom" type="range" min="100" max="1000" value="1000" oninput="gusto.cropper.zoom(value)" id="zoomer">

            <input type="button" value="Reset" id="reset-zoomer">
        </form>
    </div>
    <div id="image_container" class="image_container">
        <img id="displayed_image" src="/media/{{ asset.image }}" />
    </div>
    {% endif %}
{% endblock %}
