{% extends "admin/index.html" %}

{% block extrahead %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="/static/css/crop-admin.css" rel="stylesheet"/>
<style>

ul.tabnav {
	border-bottom: 1px solid #369;
	padding: 0;
}

ul.tabnav li,
ul.tabnav a {
	display: inline-block;
}
ul.tabnav li {
	margin-right:4px;
}
ul.tabnav a {
	padding: 5px 10px;
	border:1px solid #369;
	border-bottom-width:0;
	background:#eee;
	border-radius: 3px 3px 0 0 ;
}
ul.tabnav a.up {
	background: #fff;
	position:relative;
	top:2px;
}
div.tabcontent > div {
	display:none;
}
div.tabcontent div.up {
	display:block;
}
.dashboard div#content {
	width: auto;
}
</style>
<script>
// TABS
$(function() {

});

var grogan = window.grogan||{};
grogan.tabs = {

    initted: false,

	select: function($btn){
		var selector = $btn.attr('href');
		$('div.tabcontent > div').hide();
		$('div.tabcontent > div' + selector).show();
		$('ul.tabnav a').removeClass('up');
		$btn.addClass('up');
	},

	init: function(hash) {
        if (this.initted) return;
		// initialise buttons
		$('ul.tabnav a').click(function(e){
			var $btn = $(this)
			grogan.tabs.select($btn);
			e.preventDefault();
		});

		// respect has arg in URL query string (or hash)
        // querystrign wins
		var hash = (hash || window.location.hash);
        if (hash) {
    		var $btn = $('ul.tabnav a[href=' + hash + ']');
			grogan.tabs.select($btn);
		}
        this.initted = true;
	}
}
$(document).ready(function() {
    grogan.tabs.init({% if hash %}'#{{ hash }}'{% endif %});
});
</script>
{% endblock %}

{% block content %}

<h1>Crops for "{{ asset }}"</h1>

<ul class="tabnav">
{% for group in cropforms %}
	<li><a href="#crop{{ forloop.counter0 }}"{% if forloop.first %} class="up"{% endif %}>{{ group.cropsize.name }}</a></li>
{% endfor %}
</ul>

<div class="tabcontent">
	{% for group in cropforms %}
	<div id="crop{{ forloop.counter0 }}"{% if forloop.first %} class="up"{% endif %}>

		<h2>{{ group.cropsize.name }}</h2>
		<p>{{ group.cropsize.width }} x {{ group.cropsize.height }}</p>

		<form action="." class="do_crop" method="post">
    		{{ group.form }}
            {% csrf_token %}
    		<input type="text" name="next_tab" value="#crop{% if forloop.last %}1{% else%}{{ forloop.counter }}{% endif %}">


    		<input type="submit" value="Save &amp; Next" name="_next">
    		<input type="submit" value="Save &amp; Done" name="_done">

            <div class="cropper-controls submit-row">
                    
                <label for="zoom">Zoom</label>
                <input name="zoom" class="zoomer" type="range" min="100" max="1000" value="1000">

                <input type="button" value="Reset" class="reset-zoom">

            </div>

            <div class="image_container" class="image_container">
                <img class="displayed_image" src="/media/{{ asset.image }}">
            </div>

		</form>

	</div>
	{% endfor %}
</div>

<script src="/static/js/grogan.cropper.js"></script>


{% endblock %}

{% block sidebar %}{% endblock %}
