{% extends "admin/index.html" %}

{% block extrahead %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<style>

ul.tabnav {
	border-bottom: 1px solid #369;
	padding: 0;
}

ul.tabnav li,
ul.tabnav a {
	display: inline-block;
}
ul.tabnav li {
	margin-right:4px;
}
ul.tabnav a {
	padding: 5px 10px;
	border:1px solid #369;
	border-bottom-width:0;
	background:#eee;
	border-radius: 3px 3px 0 0 ;
}
ul.tabnav a.up {
	background: #fff;
	position:relative;
	top:2px;
}
div.tabcontent div {
	display:none;
}
div.tabcontent div.up {
	display:block;
}
.dashboard div#content {
	width: auto;
}
</style>
<script>
// TABS
$(function() {
	$('ul.tabnav a').click(function(e){
		var $btn = $(this)
		var selector = $btn.attr('href');
		$('div.tabcontent div').hide();
		$('div.tabcontent div' + selector).show();
		$('ul.tabnav a').removeClass('up');
		$btn.addClass('up');
		e.preventDefault();
	});
});
</script>
{% endblock %}

{% block content %}

<h1>Crops for "{{ asset }}"</h1>

<ul class="tabnav">
{% for group in cropforms %}
	<li><a href="#crop{{ forloop.counter0 }}"{% if forloop.first %} class="up"{% endif %}>{{ group.cropsize.name }}</a></li>
{% endfor %}
</ul>

<div class="tabcontent">
	{% for group in cropforms %}
	<div id="crop{{ forloop.counter0 }}"{% if forloop.first %} class="up"{% endif %}>

		<h2>{{ group.cropsize.name }}</h2>
		<p>{{ group.cropsize.width }} x {{ group.cropsize.height }}</p>
		<p>{{ group.cropsize.help_text }}</p>

		<form action=".">
		{{ group.form }}
		<input type="text" name="next_tab" value="#crop{{ forloop.counter }}">
		<input type="submit" value="Save &amp; Next" name="_next">
		<input type="submit" value="Save &amp; Done" name="_done">
		</form>

	</div>
	{% endfor %}
</div>
{% endblock %}

{% block sidebar %}{% endblock %}